@model user_auth.ViewModels.ProductCreate


@{
    ViewData["Title"] = "Sell a Product";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        @Html.Hidden("NewProduct.UserId", Model.getLoggedInUserId())
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="NewProduct.Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NewProduct.Name" class="form-control" />
                <span asp-validation-for="NewProduct.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NewProduct.Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NewProduct.Description" class="form-control" />
                <span asp-validation-for="NewProduct.Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NewProduct.Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NewProduct.Price" class="form-control" />
                <span asp-validation-for="NewProduct.Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NewProduct.ProductTypeId" class="col-md-2 control-label">Product Type</label>
            <div class="col-md-10">
                @Html.DropDownList("NewProduct.ProductTypeId", @Model.ProductTypes, "Select a Category")
                <span asp-validation-for="NewProduct.ProductTypeId" class="text-danger"></span>
            </div>
        </div>
        @if (@Model.NewProduct != null)
        {
            <div class="form-group">
                <label asp-for="NewProduct.ProductSubTypeId" class="col-md-2 control-label">Product Type</label>
                <div class="col-md-10">
                    @Html.DropDownList("NewProduct.ProductSubTypeId", @Model.ProductSubTypes, "Select a Category")
                    <span asp-validation-for="NewProduct.ProductSubTypeId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add New Product" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</form>

<div>
    <a asp-controller="ProductTypes" asp-action="Buy">Back to List</a>
</div>